body {
    background-color: #ffffff;
    font-family: sans-serif;
    min-width: 10%;
}

.collapsible{
    max-width: 100%;
    min-width: 180px;
    min-height: 20px;
    overflow: hidden;
    background-color: lightblue;
    border-radius: 20px;
    padding: 10px 20px;
    margin:12px;
    transition: 1s;
    cursor: pointer;
}

#continue {
    border-radius: 50%;
    background-color: #3ca1c3;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    outline:none;
    width: 75px;
    text-align: center;

}

#credit {
    position: fixed;
    height: 17px;
    width: 170px;
    overflow: hidden;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    margin:12px;
    text-align: center;
    font-size: 10px;
    right: 0;
    bottom: 0;
}

#cupGif {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    max-width : 80%;
    max-height : 80%;
    min-width: 380px;
    min-height: 380px;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index : -1;
}

#dia {
    font-weight: bold;
    display: inline;
    cursor: pointer;
}
#dia:hover {
    text-decoration: underline;
}

h3{
    text-align: center;
    margin: 10px auto;
}

input {
    display: block;
    margin: auto;
}

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.55px 0;
}

input[type=range].slider:focus {
    outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.9px;
    cursor: pointer;
    background: rgba(147, 193, 214, 0.3);
    border-radius: 25px;
}

input[type=range].slider::-webkit-slider-thumb {
    border: 1.9px solid rgba(0, 30, 0, 0.57);
    height: 24px;
    width: 18px;
    border-radius: 48px;
    background: rgba(30, 88, 197, 0.71);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.55px;
}

input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 8.9px;
    cursor: pointer;
    background: rgba(147, 193, 214, 0.3);
    border-radius: 25px;
}

input[type=range].slider::-moz-range-thumb {
    border: 1.9px solid rgba(0, 30, 0, 0.57);
    height: 24px;
    width: 18px;
    border-radius: 48px;
    background: rgba(30, 88, 197, 0.71);
    cursor: pointer;
}

input[type=range].slider::-ms-track {
    width: 100%;
    height: 8.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].slider::-ms-fill-lower {
    background: rgba(129, 182, 207, 0.3);
    border-radius: 50px;
}

input[type=range].slider::-ms-fill-upper {
    background: rgba(147, 193, 214, 0.3);
    border-radius: 50px;
}

input[type=range].slider::-ms-thumb {
    border: 1.9px solid rgba(0, 30, 0, 0.57);
    width: 18px;
    border-radius: 48px;
    background: rgba(30, 88, 197, 0.71);
    cursor: pointer;
    height: 8.9px;
}

input[type=range].slider:focus::-ms-fill-lower {
    background: rgba(147, 193, 214, 0.3);
}

input[type=range].slider:focus::-ms-fill-upper {
    background: rgba(165, 204, 221, 0.3);
}

label{
    display: block;
}

li {
    max-width: 90%;
    min-width: 120px;
    padding: 5px;
    width: auto;
    text-align: left;
    overflow: visible;
}

p{
    margin: 20px 0 0 0;
    text-align: center;
}

#span1 {
    display: inline;
}

span {
    display: none;
    position: relative;
    text-align: center;
}

#special{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

#sideBar{
    width:40%;
    float: left;
    text-align: center;
}

#suggestions {
    transition: .5s;
}

.t-f {
    display : inline-block;
    position: relative;
    font-size: 15px;
    overflow: paged-x;
    max-width: 33%;
    width: auto;
}

.t-f.left {
    float: left;
}

.t-f.top {
    max-width: 5%;
    width: auto;
    bottom: 19px;
}

.t-f.middle {
    float: right;
    right: 27%;
}

.t-f.middle.top {
    float: right;
    right: 50%;
}

.t-f.right {
    float: right;
    margin-right: 0;
}